.border {
    height: 12px;
    background: #0085ac;
    animation: increaseWidth 3s ease infinite;
    animation-delay: 1s;
    width: 0%;
}

@keyframes increaseWidth {
    from {
        width: 0%;
    }
    to {
       width: 100%;
    }
}