@font-face {
  font-family: "Mini";
  src: local("Mini"),
  url("./fonts/Mini/Mini.ttf") format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "mini", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold {
  font-weight: bold;
}

