.navBarBlack, .navBarWhite {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    width: 60%;
}

.navBarBlack .header_link {
    color: #111;
    background: none;
}

.navBarWhite .header_link {
    color: #fff;
    background: none;
}

.navBarWhite .header_link:hover {
    color: #000;
}

.header_link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 21px 10px;
    border: none;
}

.header_link:hover {
    background-color: #f1f1f1;
}

.navBar li {
    list-style: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.navBar li:hover {
    border-bottom: 2px solid rgba(0,0,0,0);
}

.header_link_block {

}
